
.anchor-pane {
    -fx-background-color: #fdfefe;
    -fx-padding: 20;
}


.label {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 13px;
    -fx-text-fill: #2c3e50;
}

.label.header {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}


.text-field,
.password-field,
.combo-box {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #ccc;
}


#registerBtn {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 8px;
}


.hyperlink {
    -fx-text-fill: #2980b9;
    -fx-font-size: 12px;
}

.hyperlink:hover {
    -fx-text-fill: #1c5980;
    -fx-cursor: hand;
}
